<!DOCTYPE html>
<html lang="en">
  <body>
    <p>Hi {{ name }},</p>
    <p>Welcome to <strong>Skyman Avionics</strong>! We're excited to have you onboard as a consigner.</p>
    <p>Your account has been created with the email: <strong>{{ email }}</strong>.</p>
    <p>Your account currently has a temporary password which must be changed.</p>
    <p>To reset your password, click the link below:</p>
    <p><a href="skymanavionicsparts.com/forgot-password">Reset Your Password</a></p>
    <p>Enter your account email to be sent a link to reset your password.</p>
    <br>
    <p>Once completed, you can log in with your account email and new password.</p>
    <br>
    <p>If you have any questions, feel free to reach out to us anytime.</p>
    <p>Best regards,<br>Skyman Avionics Team</p>
  </body>
</html>